In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

#Preprocessing

In [ ]:
df_final = pd.read_csv("/content/drive/My Drive/Suicides in India 2001-2012.csv")

##Removing the rows with no suicides and the where the type code isn't "Causes"

In [ ]:
df_final = df_final[(df_final["Total"] != 0) & (df_final["Type_code"] == "Causes")]

##Adding Categories column by grouping reasons

In [ ]:

Sickness = ['Other Prolonged Illness', 'Illness (Aids/STD)', 'Cancer', 'Paralysis', 'Insanity/Mental Illness']
Fin_issue = [ 'Poverty',  'Professional/Career Problem', 'Bankruptcy or Sudden change in Economic', 
             'Bankruptcy or Sudden change in Economic Status','Property Dispute', 'Unemployment']
Rel_trb = ['Family Problems', 'Death of Dear Person', 'Not having Children (Barrenness/Impotency', 
           'Not having Children(Barrenness/Impotency', 'Love Affairs', 'Divorce',  'Suspected/Illicit Relation',
           'Dowry Dispute', 'Illegitimate Pregnancy', 'Cancellation/Non-Settlement of Marriage']
Societal_pressure = [ 'Ideological Causes/Hero Worshipping','Failure in Examination', 'Fall in Social Reputation']

In [ ]:
def new_col(row):
  s = row["Type"]
  if s in Sickness:
    return "Sickness"
  elif s in Fin_issue:
    return "Financial issues"
  elif s in Rel_trb:
    return "Relation Troubles"
  elif s in Societal_pressure:
    return "Pressures of Society"
  elif s == "Other Causes (Please Specity)":
    return "Others Causes"
  else:
    return s

##Correcting state names to match with GeoJson

In [ ]:
def State_names(row):
  s = row["State"]
  if s == "Odisha":
    return "Orissa"
  
  elif s == "Jammu & Kashmir":
    return "Jammu and Kashmir"
  
  elif s == "Uttarakhand":
    return "Uttaranchal"
  
  elif s == "D & N Haveli":
    return "Dadra and Nagar Haveli"
  
  elif s == "Delhi (Ut)":
    return "Delhi"
  
  elif s == "A & N Islands":
    return "Andaman and Nicobar"
  
  elif s == "Daman & Diu":
    return "Daman and Diu"
  
  else: return s

In [ ]:
df_final['State'] = df_final.apply(lambda row: State_names(row), axis=1)

In [ ]:
df_final['Categories'] =df_final.apply(lambda row: new_col(row), axis=1)

In [ ]:
df_final.to_csv("Project_data.csv")

##Creating the state wise totals and percentages per year for heatmap and line chart

In [ ]:
df_final2 = pd.DataFrame(columns=["Year","State", "Total"])
for idx,grp in df_final.groupby("Year"):
  for idy,g2 in grp.groupby("State"):
    sum(g2["Total"])
    df_final2.loc[len(df_final2)] = [idx,idy,sum(g2["Total"])]

In [ ]:
df_pop = pd.read_excel("/content/drive/MyDrive/popstate.xlsx",index_col=0,header=None)
pop_by_state = list(df_pop[7])
count = 0
percentage = []
years = [2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012]
df_final_final_2 = pd.DataFrame(columns=["Year","State","Total","Percentage"])

for idx,grp in df_final2.groupby("State"):
  perc =  list(grp["Total"])
  for i in range(0,len(grp)):
    p = ((perc[i]/pop_by_state[count])*100)
    df_final_final_2.loc[len(df_final_final_2)] = [years[i],idx,perc[i],p]
  count = count + 1
 
df_final_final_2 = df_final_final_2.sort_values(by=["Year","State"],ignore_index = True)
display(df_final_final_2)

     Year                State  Total  Percentage
0    2001  Andaman and Nicobar    129   33.858268
1    2001       Andhra Pradesh  10522   12.440146
2    2001    Arunachal Pradesh    111    8.020231
3    2001                Assam   2647    8.482343
4    2001                Bihar    603    0.579256
..    ...                  ...    ...         ...
408  2012               Sikkim    181   29.623568
409  2012           Tamil Nadu  16927   23.461821
410  2012              Tripura    844   22.972237
411  2012        Uttar Pradesh   4422    2.213080
412  2012          Uttaranchal    424    4.203847

[413 rows x 4 columns]

In [ ]:
df_final_final_2.to_csv("Project_data2.csv")

##Creating data for bar chart grouped by gender

In [ ]:
df_final3 = pd.DataFrame(columns=["State","Year","Categories","Gender","Total"])
for idx,grp in df_final.groupby(["State","Year","Categories"]):
  for idy, g2 in grp.groupby(["Gender"]):
    df_final3.loc[len(df_final3)] = list(idx) + [idy, sum(g2["Total"])]

In [ ]:
df_final3.to_csv("Project_data3.csv")

In [ ]:
display(df_final3)

                    State  Year            Categories  Gender Total
0     Andaman and Nicobar  2001      Causes Not known  Female    12
1     Andaman and Nicobar  2001      Causes Not known    Male    27
2     Andaman and Nicobar  2001         Others Causes  Female     8
3     Andaman and Nicobar  2001         Others Causes    Male     9
4     Andaman and Nicobar  2001  Pressures of Society  Female     2
...                   ...   ...                   ...     ...   ...
5089          West Bengal  2011  Pressures of Society    Male   286
5090          West Bengal  2011     Relation Troubles  Female  2978
5091          West Bengal  2011     Relation Troubles    Male  2640
5092          West Bengal  2011              Sickness  Female   776
5093          West Bengal  2011              Sickness    Male  1049

[5094 rows x 5 columns]

##Creating data for for barchart grouped by age groups

In [ ]:
df_final4 = pd.DataFrame(columns=["State","Year","Categories","Age_group","Total"])
for idx,grp in df_final.groupby(["State","Year","Categories"]):
  for idy, g2 in grp.groupby(["Age_group"]):
    df_final4.loc[len(df_final4)] = list(idx) + [idy, sum(g2["Total"])]

In [ ]:
df_final4.to_csv("Project_data4.csv")

In [ ]:
display(df_final4)

                     State  Year        Categories Age_group Total
0      Andaman and Nicobar  2001  Causes Not known     15-29    17
1      Andaman and Nicobar  2001  Causes Not known     30-44    10
2      Andaman and Nicobar  2001  Causes Not known     45-59    11
3      Andaman and Nicobar  2001  Causes Not known       60+     1
4      Andaman and Nicobar  2001     Others Causes      0-14     1
...                    ...   ...               ...       ...   ...
10929          West Bengal  2011          Sickness      0-14     8
10930          West Bengal  2011          Sickness     15-29   305
10931          West Bengal  2011          Sickness     30-44   678
10932          West Bengal  2011          Sickness     45-59   671
10933          West Bengal  2011          Sickness       60+   163

[10934 rows x 5 columns]